{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <h1>Commandes du dernier panier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Nombre de paniers</th>
                <th>Date de la réservation</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.user.firstname }}</td>
                <td>{{ order.user.secondname }}</td>
                <td>{{ order.user.email }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.orderDate }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
