{% extends 'base.html.twig' %}

{% block title %}Basket{% endblock %}

{% block body %}
    <h1>Basket</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ basket.id }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ basket.creationDate ? basket.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de collecte</th>
                <td>{{ basket.pickupDate ? basket.pickupDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ basket.stock }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ basket.description }}</td>
            </tr>
        </tbody>
    </table>

    {# <a href="{{ path('orders_by_basket', {'id': basket.id}) }}">commandes</a> #}

    <a href="{{ path('basket_index') }}">Revenir à la liste des paniers</a>

    {# <a href="{{ path('basket_edit', {'id': basket.id}) }}">edit</a> #}

    {{ include('basket/_delete_form.html.twig') }}
    <hr>

    <h1>Commandes du dernier panier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Nombre de paniers</th>
                <th>Date de la réservation</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.user.firstname }}</td>
                <td>{{ order.user.secondname }}</td>
                <td>{{ order.user.email }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.orderDate }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
